/* stili generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     /* debug */
    background-color: #009688;
}

#container{
    background-color: white;
    width: 90%;
    margin: 20px auto;
    height: calc(100vh - 40px);
    display: flex;
    overflow: hidden;
}

#sidebar{
    min-width: 350px;
    height: 100%;
    border-right: 1px solid lightgray;
}

#chat-section{
    flex-grow: 1;
    height: 100%;
}

/* sidebar stili */
.user-account{
    background-color: #f7f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.img-user-account-container{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    margin: 5px;
}

.user-account-information{
    display: flex;
    align-items: center;
}

.user-account img{
    width: 100%;
    margin-bottom: -5px;
}

.icons-container-user-section{
    margin-right: 10px;
}

.user-icons{
    padding: 3px;
    color: #b1b1b1;
}

/* spam notifiche nuovi messaggi */
.new-message-notifications{
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 10px;
}

.fa-bell-slash{
    color: #8edafc;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 15px;
}

.notifications-message{
    padding-left: 5px;
    font-size: 10px;
}

.notifications-message span{
    display: block;
    font-size: 12px;
}

#notifications{
    text-decoration: underline;
    color: gray;
}

/* form section */
.ms_container-fluid{
    background-color: #f7f3f3;
    --bs-gutter-x: 1rem;
    padding-right: 0;
}

.ms_form{
    padding: 3px;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    border: none;
    margin: 5px 0;
    width: 100%;
}

.ms_form-icon{
    font-size: 12px;
    color: lightgray;
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding: 6px 15px;
    margin-top: 5px;
}

.name-list{
  padding: 10px 10px;
 
}

.name-list p{
    margin-bottom: 0;
}

/* chats */
.chat-user-container{
    overflow-y: auto;
    height: calc(100% - 138px);
}

.chat-user{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    cursor: pointer;
}

.chat-user:hover{
    background-color: #e9ebeb;
}

.friend-chat{
    display: flex;
    justify-content: space-between;
}

.img-friend-container{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.img-friend-container img{
    width: 100%;
}

.friend{
    padding-left: 15px;
}

.friend-name{
    font-size: 15px;
}

.last-message, .time-friend-chat{
    color: gray;
    line-height: 12px;
    font-size: 10px;
}

/* chat interna */
.header-int-chat{
    background-color: #f7f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
}

.friend-header{
    display: flex;
    align-items: center;
}

.main-chat-section{
    height: calc(100% - 110px);
    width: 100%;
    overflow-y: auto;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: contain;
}

.footer-int-chat{
    height: 60px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
}

.new-message-input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 12px;
}

.text-icons{
    padding: 0 20px;
    color: #99908a;
}

.messages-container{
    width: 85%;
    margin: 40px auto 0;
    background-color: transparent;
}

.message{
    max-width: 40%;
    padding: 15px;
    font-size: 12px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 20px;
}

.message.send{
    margin-left: calc(60%);
    background-color: #d5f9ba;
}

.text-time{
    font-size: 8px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgb(188, 187, 187);
}

.ms_dropdown{
    position: absolute;
    bottom: 15px;
    right: 5px;
}

.ms_button{
  --bs-btn-color: none;
  --bs-btn-bg: none;
  --bs-btn-border-color: none;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: none;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: none;
  color: lightgray;
}
/* classi js */
.active{
    background-color: #dcdcdc;
}


/* MEDIA QUERY */
@media all and (max-width: 750px){
    #sidebar{
        min-width: 250px;
    }
}